*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
     position: fixed; 
     top: 0; 
     
}
.nav-menu ul{
    display: flex;
    gap: 30px;

}
.nav-menu ul li{
 list-style-type: none;
}
.nav-menu ul li a{
 text-decoration: none;
 color: white;
 text-transform: uppercase;
}
.parent-icon{
    background-color:red  ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid red;
    /* color: white; */
    font-size: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.child-icon1 button {
     background-color:red;
     border: none;
    color: white;
    cursor: pointer;
    
}
.child-icon2 button{
    background-color: white;
    padding: 8px;
    border: none;
    color: brown;
    cursor: pointer;
}
header{
    background-image: url("../img/img3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    padding-top: 200px;
}
.main-header{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}
.header-container{
    color:white;
     width: 40%; 
     margin-top: 170px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.header-image{
    /* width: 40%; */
}
.header-image img{
    width: 600px;
}
/* demos style */
.demos-heading{
    font-size: 34px;
    text-align: center;
    margin-top: 30px;
}
.demos-container1{
    display: flex;
    justify-content: space-around; 
    padding-top: 30px;
    width: 80%;
    margin: auto;
    color: gray;
}
.demos-container2{
    display: flex;
    justify-content: space-around; 
    padding-top: 30px;
    width: 30%;
    margin: auto;
    color: gray;
}
/* image gallary */
.image-gallary{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}
.image-gallary img{
    height: 273px;
    width: 350px;
}
.image-gallary img:hover{
    border: 2px solid gray; 
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
}
 h3:hover{
    color: brown;
    cursor: pointer;
}
/* SHOP PAGES */
.shop-pages{
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 34px;
}
.shop-container{
    background-color: #E4E4E4;
}
.shop-image{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}
.shop-image img{
    width: 198px;
    height: 228px;
}
.shop-image img:hover{
    box-shadow: 5px 5px 5px gray;
}
/* product */
.product{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}
.products-filters{
    background-color:#F5E6E0 ;
   padding: 50px;
}

.products-quickview{
background-color:#E4E4E4;
padding: 50px;
}
.product-image img{
    width: 360px;
    height: 266px;
}
/* header-layout */
.header-layout{
background-color: black;
padding-top: 50px;
padding-bottom: 50px;
}
.header-layout-content{
    color: white;
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}
.layout-image-container{
   display:grid;
   grid-template-columns: 2fr 2fr;
   margin-left: 70px;
  
}
.layout-image img{
    width: 540px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* mobile-design */
.mobile-design{
    background-image: url("../img/bg-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    padding-top: 150px;
    padding-bottom: 150px;
}
.mobile-design h1{
    margin-left: 60px;
    font-size: 34px;
    margin-bottom: 20px;
}
.mobile-design p{
    margin-left: 60px;
line-height: 30px;
}
/* CORE FEATURES */
.core-image-gallary{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
/* footer */
footer{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-logo img{
    width: 10%;
    margin: auto;
    display: grid;
}
.footer-logo h1{
    color: white; 
    text-align: center;
    padding-top: 20px;
}
.footer-logo p{
    color: white; 
    text-align: center;
    padding-top: 20px;
}
